html
  box-sizing: border-box

*, *::after, *::before
  box-sizing: inherit
  
body
  background-color: $bg
  padding: 0
  margin: 0

  font-family: 'Forum'
  color: #ffffff

a
  text-decoration: none
  color: #ffffff

  
div // TEMP
  margin: 0 auto
  max-width: 935px
  text-align: center