.footer
  &__container
    max-width: 100%
    margin: 0 50px

    font-size: 16px
    line-height: 18px

    border-top: 1px solid rgba(255, 255, 255, 0.2)

  &__list
    display: flex
    justify-content: center
    margin-top: 20px
    margin-bottom: 30px

    &-item:not(:first-child)
        margin-left: 50px

  &__link
    padding: 5px

  &__social
    display: flex
    justify-content: center
    margin-bottom: 30px

    &-link:not(:first-child)
      margin-left: 50px
      