.gallery
  position: relative
  max-width: 570px

  @media screen and ( max-width: 600px )
    max-width: 100%

  &__list
    max-width: 552px

  &__list-item
      
  &__img
    width: 123px
    height: 123px
    object-fit: cover

    @media screen and ( max-width: $mobile_l )
      width: 75px
      height: 75px

  &__arrow
    position: absolute
    top: 50%
    z-index: 10

    display: block
    height: 46px
    width: 46px
    
    border: 1px solid #ffffff
    border-radius: 50%
    background-color: rgba(0, 0, 0, .4)
    background-image: url(../img/svg/arrow-right.svg)
    background-repeat: no-repeat
    background-position: 50%
    cursor: pointer
    outline: none

    transform: translateY(-50%)

    @media screen and ( max-width: $tablet_l )
      display: none
    
    &_next
      right: -23px
    &_prev
      left: -23px
      transform: translateY(-50%) rotate(180deg)
      