.page
  margin-bottom: 0
  &__container
    display: flex

  &__image
    flex-basis: 50%
    max-height: 100vh
    object-fit: cover

  &__content
    padding-left: 114px
    padding-right: 50px
    display: flex
    flex-basis: 50%
    flex-direction: column
    justify-content: center

  &__title
    margin-top: 0
    margin-bottom: 50px
    max-width: 72%


    font-size: 50px
    line-height: 55px
    letter-spacing: 0.09em

  &__text
    margin-bottom: 30px
    max-width: 80%

    font-size: 18px
    line-height: 150%


  &__button
    margin-bottom: 100px
    align-self: flex-start

  &__gallery
    margin-bottom: 30px 

  &__more
    display: flex
    align-self: flex-end
    justify-self: flex-end
    &-text
      margin-top: 0
      margin-bottom: 0
      padding-right: 30px

      font-size: 18px
      line-height: 150%
  
  &__social-link
    display: flex

  &__svg
    align-self: center
