.page
  margin-bottom: 0
  
  &__container
    position: absolute
    display: flex
    min-height: 100vh

    &::after
      content: ''

      position: absolute
      z-index: 20
      top: 30px
      bottom: 30px
      left: 30px
      right: calc(50% - 30px)

      display: block
      
      border: 1px solid rgba(255, 255, 255, 0.2)
    
  &__image
    position: relative
    flex-basis: 50%
    max-height: 100vh
    object-fit: cover

  &__test-image
    flex-basis: 50%
    min-height: 100vh
    background-image: url('../img/pages/event-bouquets/main-event-bouquets.jpg')
    background-repeat: no-repeat
    background-size: cover
    background-position: 50%
    

  &__content
    padding-left: 114px
    padding-right: 50px
    display: flex
    flex-basis: 50%
    flex-direction: column
    justify-content: center

  &__title
    margin-top: auto
    margin-bottom: 50px
    max-width: 72%


    font-size: 50px
    line-height: 55px
    letter-spacing: 0.09em

  &__text
    margin-bottom: 30px
    max-width: 80%

    font-size: 18px
    line-height: 150%


  &__button
    margin-bottom: 100px
    align-self: flex-start

  &__gallery
    margin-bottom: 30px 

  &__more
    display: flex
    align-self: flex-end
    justify-self: flex-end
    margin-top: auto
    margin-bottom: 45px
    &-text
      margin-top: 0
      margin-bottom: 0
      padding-right: 30px

      font-size: 18px
      line-height: 150%
  
  &__social-link
    display: flex

  &__svg
    align-self: center
