.promo
  &__container
    display: flex
    justify-content: space-between
    max-width: 1216px
    margin: 0 auto
  &__content
    max-width: 350px
    margin-right: 40px
    display: flex
    flex-direction: column
    justify-content: center
  &__title
    margin-top: 25px
    margin-bottom: 25px
  &__text
    font-size: 14px
    line-height: 24px
    margin-bottom: 45px
  &__button
    margin-bottom: 25px
  &__img
    width: 697px
    max-height: 410px
    object-fit: cover